.wrapper {
    width: 700px;
    /* margin: 0 auto;   */
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
align-items: center; 

}


.wrapper .item {
    background-image: linear-gradient(45);
    background-color: brown;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 6px;
    color: aliceblue;
    font-size: 50px;
}