.container {
max-width: 200px;
height: 20px;
background-color: rgb(83, 215, 42);
}

.container2 {
    width: 220px;
    height: 20px;
    background-color: rgb(231, 231, 16);
}

.img {
border-radius: 40px;
width: 300px;
transition: 0.7s;
}

.img:hover {
    width: 100px;
    height: 100px;
    border-radius: 90px;
}