/* .color {
    background-color: aqua;
    height: 200px;
    padding: 60px; */
/* } */


.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 30px;


}


.text1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    transition: 1s;
  
}

.text1:hover {
    transition: 0.2s;
    color: blue;
    /* background-color: blue; */
}

body {
    background-color: white;
}

.heet {
    color: black;

}

.logo {
    display: flex;
    width: 100px;
    justify-content: flex-end;
}

.logo2 {
     display: flex;
    justify-content: flex-end;
    align-items: flex-end; 

   
}

.pro {
width: 550px;
}


.proiphone {
width: 120px;
}

.text {
    width: 100px;
    margin: 80px;
}