form {
margin: 0 auto;
background-color: rgb(153, 101, 206);
width: 450px;
height: 500px;
padding: 20px;
box-shadow: 2px 2px 5px gold;
font-family: unset;
}

center {
    cursor: pointer;
    padding: 10px 30px;
    height: 50px;
    color: black;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgb(11, 8, 11);
}
